{% 
    set classes = [
    "component-division",
    variants.position_text.value,
    ]  
%}
{% set attributes = create_attribute() %}
{% set attributes = attributes.addClass(classes).setAttribute('style', "background:url('" ~ background | get_img_src ~ "') no-repeat center center / cover") %}

{# image de fondo
block background
block text #}

{% set attributes_text_box = create_attribute() %}
{% set attributes_text_box = attributes_text_box.addClass("component-division__text") %}

{% set attributes_text_color = create_attribute() %}

{% if variants.bg_text.color %}
  {% set attributes_text_box = attributes_text_box.setAttribute('style', "background-color:" ~ variants.bg_text.color|get_rgba(variants.bg_text.opacity) ~ ";") %}
{% endif %}

{% if variants.color_text.color %}
  {% set attributes_text_color = attributes_text_color.setAttribute('style', "color:" ~ variants.color_text.color ~ "") %}
{% endif %}

<div{{ attributes }}>

  <div{{ attributes_text_box }}>
    {% if link | render is not empty %}
      <div class="component-division__text__link">
        {{ link|openlink }}
        <span{{ attributes_text_color }}>{{ link|render|striptags|raw }}</span>
        {{ link|closelink }}
      </div>
    {% endif %}
    {% if text | render is not empty %}
      <div class="component-division__text__text">
        <span{{ attributes_text_color }}>{{ text }}</span>
      </div>
    {% endif %}
  </div>

</div>
