{#
/**
 * @file
 * Callout blocks pattern.
 */
#}
{% set arialabel = title | render | striptags ~ ' ' ~ subtitle | render | striptags %}

{% set attributes = create_attribute() %}
{% set attributes = attributes.addClass("header-block") %}

{% set attributes_title = create_attribute() %}
{% set attributes_line = create_attribute() %}
{% if variants.title_color.color | render is not empty %}
  {% set attributes_title = attributes_title.setAttribute('style', "color:" ~ variants.title_color.color ~ ";") %}
  {% set attributes_line = attributes_line.setAttribute('style', "background:" ~ variants.title_color.color ~ ";") %}
{% endif %}

{% set attributes_subtitle = create_attribute() %}
{% if variants.subti_color.color | render is not empty %}
  {% set attributes_subtitle = attributes_subtitle.setAttribute('style', "color:" ~ variants.subti_color.color ~ ";") %}
{% endif %}

<div{{ attributes }}>
  <div class="header-block__title">
    {% if variants.breadcrumbs.value == 1 %}

      {% set attributes_breadcrumb = create_attribute() %}
      {% if variants.bread_color.color | render is not empty %}
        {% set attributes_breadcrumb = attributes_breadcrumb.setAttribute('style', "color:" ~ variants.bread_color.color ~ ";") %}
      {% endif %}

      <span {{ attributes_breadcrumb }}>
        {{ render_plugin_block('system_breadcrumb_block') }}
      </span>

    {% endif %}
    {% if title | render is not empty %}
      <h3 class="header-block__name" {{ attributes_title }}>
        {{ link|openlink({'aria-label': arialabel}) }}
        <span{{ attributes_title }}>{{ title }}</span>
        <span{{ attributes_line }} class="header-block__name__underline"></span>
        {{ link|closelink }}
      </h3>
    {% endif %}
    {% if subtitle | render %}
      <span class="header-block__subhead" {{ attributes_subtitle }}>{{ subtitle }}</span>
    {% endif %}
  </div>
  {% if background | render %}
    {{ background }}
  {% endif %}
</div>
