{#
 * @file
 * Resource Full Content Display Pattern Twig.
#}

{% set id_url_format = '/resources?type=' ~ format_id | render | striptags %}
{% set id_url_format_topic = id_url_format ~ '&topic=' ~ topic_id | render | striptags %}

{# First breadcrumbs #}
<div class="row mt-2">
  <div class="col-md-12 resource-node-full-content-first-breadcrumbs">
    <a href="/resources">
      {{ 'Resources'|trans }}
    </a>
    <a href="{{id_url_format}}">
      {{ resource_format|render|striptags }}
    </a>
    {% if topic|render|striptags is not empty  %}
      <a href="{{id_url_format_topic}}">
        {{'Topic: '|trans}}
        {{ topic|render|striptags }}
      </a>
    {% endif %}
  </div>
  <div class="col-md-12">
    <hr class="resource-page-hr-separator"/>
  </div>
</div>

{# Main content #}
<div class="row resource-node-center-content clearfix mb-4">

  <div class="col-md-12 resource-node-full-content-left">

    {# Second breadcrumbs #}
    {#     <div class="resource-node-full-content-second-breadcrumbs">
      {{ resource_format|render|striptags }}
      {{ topic }}
    </div> #}

    {# Language #}
    {% if language|get_language_message %}
      <div class="resource-node-full-content-view-language mt-1 mb-1">
        {{ language|get_language_message }}
      </div>
    {% endif %}

    {# Title field #}
    {% if title | render %}
      <h1 class="resource-node-full-content-title mt-0">
        {{ title }}
      </h1>
    {% endif %}

    {# Gallery field #}
    {% if ((resource_format | render == 'Image')or(resource_format | render == '360 image')or(resource_format | render == '360 video')or(resource_format | render == 'Video')) %}
      {% if gallery | render %}
        <div class="resource-node-full-content-gallery">
          {{ gallery }}
        </div>
      {% endif %}
    {% endif %}

    {# Iframe field #}
    {% if ((resource_format | render == '360 image')or(resource_format | render == '360 video')) %}
      <div class="resources-node-full-content-iframe">
        {% if url | render %}
          <div>
            <iframe scrolling="no" frameBorder="0" id="resource-iframe" src="{{ url|render }}" style="min-height: 450px;"></iframe>
            <caption>{{ 'Go to'|t }} <a href="{{ url|render }}">{{ 'resource'|t }}</a></caption>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {# Video field #}
    {% if (resource_format | render == 'Video') %}
      <div class="resources-node-full-content-video">
        {% if video | get_link_href is not empty %}
          <div class="background-component background__video" style="height: 100%;">
            {{ pattern('video_item', {'video': video|get_link_href, 'controls': true, 'muted': false, 'autoplay': true, 'loop': false, 'mimetype': video|get_link_type }) }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="mt-3">

      {% if ((resource_format | render == '360 image')or(resource_format | render == '360 video')or(resource_format | render == 'Image')or(resource_format | render == 'Video')) %}
        {% for key, value in gallery | get_cds_info %}
          <p class="cds-media-info mb-0" style="{% if key > 0 %}display: none;{% endif %}" data-cdsid="{{ value.cds_id }}">
            ID:
            {{ value.cds_id }}
          </p>
          <p class="cds-media-info mb-0" style="{% if key > 0 %}display: none;{% endif %}" data-caption="en" data-cdsid="{{ value.cds_id }}">
            {{ value.caption_en }}
          </p>
          <p class="cds-media-info mb-0" style="{% if key > 0 %}display: none;{% endif %}" data-caption="fr" data-cdsid="{{ value.cds_id }}">
            {{ value.caption_fr }}
          </p>
          <p class="cds-media-info" style="{% if key > 0 %}display: none;{% endif %}" data-cdsid="{{ value.cds_id }}">
            {{ value.creation_date }}
          </p>
          <p class="cds-media-info mb-0 cds-media-info-legal" style="{% if key > 0 %}display: none;{% endif %}" data-cdsid="{{ value.cds_id }}">
            <a target="_blank" href="http://copyright.web.cern.ch">{{ 'Conditions of Use '|trans }}
              &copy;
              {{ value.copyright_date ~ ' ' ~ value.copyright_holder }}
            </a>
          </p>
          <p class="cds-media-info" style="{% if key > 0 %}display: none;{% endif %}" data-cdsid="{{ value.cds_id }}">
            {{ value.attribution }}
          </p>
        {% endfor %}
      {% endif %}

      {% if ((resource_format | render == 'Image')or(resource_format | render == 'Video')or(resource_format | render == '360 image')or(resource_format | render == '360 video')) %}
        <p>
          {% if metadata | render %}{{ metadata|render }}
          {% endif %}
        </p>
        <p>
          {% if copyright | render %}{{ copyright|render }}
          {% endif %}
        </p>
        <p>
          {% if author | render %}{{ author|render }}
          {% endif %}
        </p>
      {% endif %}

      {% if ((resource_format | render == 'Annual report')or(resource_format | render == 'Brochure')or(resource_format | render == 'Bulletin')or(resource_format | render == 'Courier')or(resource_format | render == 'Document')or(resource_format | render == 'Brochure')or(resource_format | render == 'Publication')or(resource_format | render == 'Presentation')) %}
        <div class="resources-node-full-content-file full-html-markup full-text-animation">
          {% if doc_image | render %}
            <div class="mb-2">
              {{ doc_image|render }}
            </div>
          {% endif %}
          {# <h4>{{ 'Description'|trans }}</h4> #}
          <div class="mb-3">
            {% if description | render %}{{ description|render }}
            {% endif %}
          </div>
          {# <h4>{{ 'Files'|trans }}</h4> #}
          {% if file | render %}{{ file|render }}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="mt-3 resources-node-full-content-tags">
      {% if tags | render %}{{ tags|render }}
      {% endif %}
    </div>

  </div>

</div>
{#
CERN-PHOTO-201405-097-5 :: cds_id: CERN-PHOTO-201405-097-5
CERN-PHOTO-201405-097-5 :: attribution: Vigen, Jens: CERN
CERN-PHOTO-201405-097-5 :: caption_en: Jan Uythoven won a poster with Einstein on a bike.
CERN-PHOTO-201405-097-5 :: caption_fr:
CERN-PHOTO-201405-097-5 :: copyright_date: 2014
CERN-PHOTO-201405-097-5 :: copyright_holder: CERN
CERN-PHOTO-201405-097-5 :: creation_date: 2014-05-07
CERN-PHOTO-201405-097-5 :: entry_date: 2014-05-07
CERN-PHOTO-201405-097-5 :: filename: DSC_6196
CERN-PHOTO-201405-097-5 :: keywords: velo,Life at CERN
CERN-PHOTO-201405-097-5 :: license_body: CERN
CERN-PHOTO-201405-097-5 :: license_desc: CERN
CERN-PHOTO-201405-097-5 :: license_url: CC-BY-SA-4.0
CERN-PHOTO-201405-097-5 :: record_id: 1700094
CERN-PHOTO-201405-097-5 :: title_en: Bike2Work
CERN-PHOTO-201405-097-5 :: type: image
CERN-PHOTO-201405-097-5 :: size: 
#}
