{#
 * @file
 * News Full Content Display Pattern Twig.
#}

{% set id_url_format = '/news?type=' ~ format_id | render | striptags %}
{% set id_url_format_topic = id_url_format ~ '&topic=' ~ topic_id | render | striptags %}

{% if news_format and topic %}
	{# First breadcrumbs #}
	<div class="row mt-2">
		<div class="col-md-12 news-node-full-content-first-breadcrumbs">
			<a href="/news">
				{{ 'News'|trans }}
			</a>
			<a href="{{id_url_format}}">
				{{ news_format }}
			</a>
			{% if topic|render|striptags is not empty  %}
			<a href="{{id_url_format_topic}}">
				{{'Topic: '|trans}}
				{{ topic|render|striptags }}
			</a>
			{% endif %}
		</div>
		<div class="col-md-12">
			<hr class="news-page-hr-separator"/>
		</div>
	</div>

{% endif %}

{# Main content #}
<div class="row news-node-center-content clearfix">

  <div class="col-md-12 news-node-full-content-left">
    {# Second breadcrumbs #}
    {#  <div class="news-node-full-content-second-breadcrumbs">
      {{ news_format|render|striptags }}
      {{ topic }}
    </div> #}

    {# Language #}
    {% if language|get_language_message %}
      <div class="news-node-full-content-view-language mt-1 mb-1">
        {{ language|get_language_message }}
      </div>
    {% endif %}

    {# Title field #}
    {% if title | render %}
      <h1 class="news-node-full-content-title mt-0">
        {{ title }}
      </h1>
    {% endif %}

    {# Count byline authors #}
    {%set count_byline = author|render|split('</a>')|length-1 %}

    {# Avatar field. Only is shown if the News format is opinion  #}
    {% if news_format | render == "Opinion" %}
      {% if count_byline == "1" %}
        {% if avatar | render | striptags('<img>') | trim is not empty %}
          <div class="news-node-full-content-avatar">
          <img src="{{ avatar }}" alt="Author" />
            {% if author | render %}
              <p class="news-node-full-content-author">
                {{'By'|trans}}
                {{ author }}
              </p>
            {% endif %}
            <p class="news-node-full-content-bio">{{ bio }}</p>
          </div>
        {% endif %}

      {% endif %}
    {% endif %}


    {# Strap field #}
    {% if strap | render %}
      <p class="news-node-full-content-strap">
        {{ strap }}
      </p>
    {% endif %}

    {# Created date field and Author field #}
    {% if publication_date | render or author | render %}
      <div class="news-node-full-content-created-date-author">
        {# Publication date field #}
        {% if publication_date | render %}
          <p class="news-node-full-content-created_date">
            {{ publication_date }}
          </p>
        {% endif %}
        {# Author field #}
        {% if (news_format | render != "Opinion") or ((news_format | render == "Opinion") and (count_byline != "1")) or ((news_format | render == "Opinion") and (count_byline == "1") and ( avatar | render | striptags('<img>') | trim is empty )) %}
          {% if publication_date | render and author | render %}
            <p class="news-node-full-content-pipe ml-1 mr-1">
              |
            </p>
          {% endif %}
          {% if author | render %}
            <p class="news-node-full-content-author">
              {{'By'|trans}}
              {{ author }}
            </p>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {# Image field #}
    {% if image %}
      <div class="news-node-full-content-image mt-2">
        {{ image|render }}
      </div>
      {% if caption | render %}
        <p class="news-node-full-content-caption cern-caption">
          <caption>
            {{ caption }}
          </caption>
        </p>
      {% endif %}
    {% endif %}

    {# Body field #}
    {% set margin_body_class = '' %}
    {% if margin_body | render %}
      {% set margin_body_class = margin_body | render.__toString() %}
    {% endif %}
    {% if body | render %}
      <div class="news-node-full-content-body {{ margin_body_class }}  clearfix full-html-markup full-text-animation">
        {{ body }}
      </div>
    {% endif %}

    {# Component field #}
    {% if component | render %}
      <div class="news-node-full-content-component {{ margin_body_class }}">
        {{ component }}
      </div>
    {% endif %}

    {# Files field #}
    {% if file | render %}
      <div class="news-node-full-content-file mt-4 {{ margin_body_class }}">
        {{ file|render }}
      </div>
    {% endif %}

    {# Tags field #}
    {% if tags | render %}
      <div class="news-node-full-content-tags {{ margin_body_class }}">
        {{ tags }}
      </div>
    {% endif %}

  </div>

</div>
