<nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" class="block-mainnavigation-cern-megamenu">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for menu_row in menu | iterate_element %}
            <li class="cern-dropdown">
              {% set link = render_paragraph_field(menu_row['#paragraph'], 'field_p_menu_row_link', {'max_depth': 0}) %}
              {% import "cernmenu.html.twig" as menus %}
              {% import "cernmenusubmenu.html.twig" as submenus %}
              {{ menus.menu_links(link.0['#items']) }}
              <div class="cern-dropdown-menu row">
                {% set columns = menu_row['#paragraph'].get('field_p_menu_row_column') %}
                {% set firstColVal = 0 %}
                {% set firstColValMd = 0 %}
                {% set firstColValSm = 0 %}
                {% for column in columns | iterate_referenced_entities %}
                  {% set colspan = column.get('field_p_menu_row_column_span').getValue().0.value %}
                  {% set colspanmd = column.get('field_p_menu_row_column_span_md').getValue().0.value %}
                  {% set colspansm = column.get('field_p_menu_row_column_span_sm').getValue().0.value %}
                  {% if loop.index == 1 %}
                    {% set firstColVal = colspan %}
                    {% set firstColValMd = colspanmd %}
                    {% set firstColValSm = colspansm %}
                  {% endif %}
                  {% if loop.index == 2 %}
                    <div class="col-xs-{{ 12 - firstColValSm }} col-sm-{{ 12 - firstColValSm }} col-md-{{ 12 - firstColValMd }} col-lg-{{ 12 - firstColVal }}  col-item-megamenu">
                      <div class="row">
                  {% endif %}
                        <div class="col-xs-{{ colspansm }} col-sm-{{ colspansm }} col-md-{{ colspanmd }} col-lg-{{ colspan }} col-item-megamenu">
                          {% set contents = iterate_referenced_entities(column.get('field_p_menu_row_column_content')) %}
                          {% for content in contents %}
                            {% set links = render_paragraph_field(content, 'field_p_menu_column_content_link', {'max_depth': 2}) %}
                            {% if links is not null %}
                              {% for link in links %}
                                {{ submenus.menu_links(link['#items'], null, 0) }}
                              {% endfor %}
                            {% endif %}

                            {% set view = render_paragraph_field(content, 'field_p_menu_column_content_view') %}
                            {% if view is not null %}
                              {{ view }}
                            {% endif %}

                            {% set block = render_paragraph_field(content, 'field_p_menu_column_content_blck') %}
                            {% if block is not null %}
                              {{ block }}
                            {% endif %}
                          {% endfor %}
                        </div>                       
                    {# {% if column.get('field_p_menu_row_column_close').getValue().0.value == 1 and loop.index > 1 %}
                      </div> 
                      <div class="row">
                    {% endif %} #}
                        
                  {% if loop.last and loop.index > 1 %}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}                
                <div class="close-cern-dropdown"></div>
              </div>
            </li>
          {% endfor %}
          {% if true %}
            <li class="cern-dropdown cern-menu-search">
              <a href="#" class="dropdown-toggle cern-menu-item-search">{{ 'search'|trans }}</a>
              <div class="cern-dropdown-menu row">
                <div class="close-cern-dropdown"></div>
                <div class="col-md-offset-2 col-md-8 cern-menu-content-search">
                  <span class="placeholder-of-search hidden d-none">{{ 'e.g. Birth of Web, LHC page 1, Bulletin...'|trans|upper }}</span>
                  <span class="placeholder-of-search-mobile hidden d-none">{{ 'e.g. Birth of Web, LHC...'|trans|upper }}</span>
                  {{ drupal_block('search_form_block') }}
                </div>
              </div>
            </li>
          {% endif %}
          {% if true %}
            <li class="dropdown cern-menu-lang-switcher">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <span class="separator">|</span>
                {{cernLanguage}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>{{ drupal_block('language_block:language_interface') }}</li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</nav>
