{# main content #}
<div class="layout layout__region story-page-node-layout-content">
  <div class="field--items">
    {% set countcomponents = 0 %}
    {% for component in components | iterate_element %}
      <div class="field--item">
        {{ component }}
        {% set countcomponents = countcomponents + 1 %}
      </div>
    {% endfor %}
  </div>
  {% if countcomponents == 0 %}
    {% if legacy_image|render %}
      <div class="story-page-node--image story-page-legacy-title" style="background: radial-gradient(at center center, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.5) 100%), url({{ legacy_image|render }}) no-repeat center center / cover">
        {% if legacy_title|render %}
          <h1 class="story-page-node--title text-center mb-4">{{legacy_title|render}}</h1>
        {% endif %}
        <hr style="width: 150px;border-top-width: 2px;" />
        {% if legacy_strap|render %}
          <p class="story-page-node--strap text-center mb-4"><b>{{legacy_strap|render}}</b></p>
        {% endif %}
      </div>
    {% else %}
      <div class="container story-page-legacy-title-no-image">
        {% if legacy_title|render %}
          <h1 class="story-page-node--title text-center mb-2">{{legacy_title|render}}</h1>
        {% endif %}
        {% if legacy_strap|render %}
            <p class="story-page-node--strap text-center mb-4"><b>{{legacy_strap|render}}</b></p>
        {% endif %}
      </div>
    {% endif %}
    <div class="container story-page-legacy-body">
      {% if legacy_byline|render %}
        <p class="story-page-node--byline mt-2">
          {{ 'By'|t }}: {{ legacy_byline|render }}
        </p>
      {% endif %}
      {% if legacy_body|render %}
        <div class="story-page-node--body mt-2 clearfix">
          {{ legacy_body|render }}
        </div>
      {% endif %}
      {% if legacy_tags|render %}
        <div class="story-page-node--tags mt-2">
          {{ legacy_tags|render }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
