{% 
    set classes = [
    "component-media-content",
    "box-pattern",
    variants.display.value,
    variants.type.value,
    ]
%}
{% set attributes = create_attribute() %}
{% set attributes = attributes.addClass(classes).setAttribute('style', "background-image:url('" ~ background | get_img_src ~ "'); background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: " ~ variants.bg_color.color ~ ";") %}

{% if link | render %}
    {% set box_link = link %}
{% elseif title | render %}
    {% set box_link = title %}
{% endif %}

<div {{ attributes }}>
  <a class="box-link" target="{{ box_link | render | get_tag_attribute('a', 'target') }}"  href="{{ box_link | render | get_tag_attribute('a', 'href') }}"></a>

    {% if background | render %}
    <div class="component-media-content__veil"></div>
  {% endif %}
  <div class="component-media-content__wrapper">
    <div class="component-media-content__subwrapper">
      <div class="component-media-content__icon">
        <div class="type_video">video</div>
        <div class="type_image">image</div>
      </div>
      <div class="component-media-content__title">
        {# Link field for component  #}
        {% if link | render %}
          <h3>
						{% if link | render | get_tag_attribute("a", "href") %}

							{{ link|openlink }}
							<span class="text-color" {{ attributes_textcolor }}>
                   {{ link|render|striptags|length > 60 ?
									 link|render|striptags|htmlspecialchars|slice(0,60) ~ '...' :
									 link|render|striptags|htmlspecialchars }}
								</span>
							{{ link|closelink }}

						{% else %}

							{{ link|length > 60 ?
							link|htmlspecialchars|slice(0,60) ~ '...' :
							link }}

						{% endif %}

          </h3>
        {% endif %}
      </div>
    </div>
  </div>
</div>
