<div id="component-event" class="component-event">
  {% if start_date | render %}
    <div class="component-event-antetitle">{{ start_date|format_date_field('custom', 'l') }}</div>
  {% endif %}
  <div class="component-event-calendar">
    <div class="component-event-box1">
      <div class="component-event-dates">
        {% if start_date | render %}
          <span class="component-event-dates-1">{{ start_date|format_date_field('custom', 'j M') }}</span><span class="component-event-dates-2">/{{ start_date|format_date_field('custom', 'y') }}</span>
        {% endif %}
      </div>
      <div class="component-event-time">
        {% if start_date | render %}
          {{ start_date|format_date_field('custom', 'H:i') }}
        {% endif %}
        {% if start_date | format_date_field('custom', 'j M') == end_date | format_date_field('custom', 'j M') %}
          {% if end_date | render %}
            -
            {{ end_date|format_date_field('custom', 'H:i') }}
          {% endif %}
        {% endif %}
        {% if timezone | render %}
          <span>({{ timezone }})</span>
        {% endif %}
        <br/>
        {% if start_date | format_date_field('custom', 'j M') != end_date | format_date_field('custom', 'j M') %}
          {% if end_date | render %}
            <span>{{ 'Ends:' | t }}</span>
            {{ end_date|format_date_field('custom', 'j M') }}/{{ end_date|format_date_field('custom', 'y') }}
            <span>{{ end_date|format_date_field('custom', 'H:i') }}</span>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if ics_link | render %}
      <div class="component-event-box2">
        <div class="component-event-button">
          {{ ics_link|openlink({'aria-label': arialabel}) }}
          <span>{% trans %}Import to my calendar{% endtrans %}</span>
          {{ ics_link|closelink }}
        </div>
      </div>
    {% endif %}
  </div>
  {% if title | render %}
    <h1 class="component-event-title">
      {{ title }}
    </h1>
  {% endif %}
  {% if details | render %}
    <div class="component-event-content">
      <div class="component-event-list">
        <div class="component-event-item full-html-markup full-text-animation">{{ details }}</div>
      </div>
    </div>
  {% endif %}
</div>
